html {
    padding-top: 1px;
}

.left {
    height: 85%;
}

.content_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.right {

    height: 80%;
}

#main_container {
    border-style: solid;
}

.container {
    height: 85%;
}

.zoomEffect:hover {
    transform: scale(1.5);
    z-index: 999999;
}

.overlay {
    background-image: url('../assets/deskItems.jpg');
    background-size: cover;
    filter: brightness(0.6);
}

@media screen and (max-width: 1000px) {
    .font_shrink {
        font-size: 10px;
    }



}