.projectList {
    margin-top: 15%;
}

.zoomEffect:hover {
    transform: scale(1.05);
    z-index: 999999;
}

.colorZoom:hover {
    background-color: lightblue;
}

#title {
    margin-top: 4%
}

a,
a:hover {
    color: inherit;
}

.card-text {
    padding: 15px;
    font-family: "Lucida Console", Monaco, monospace;
}

h4 {
    font-family: "Arial Black", Gadget, sans-serif;
}

.card-title {
    font-family: Impact, Charcoal, sans-serif;
}

.card {
    background-color: #F0FFFF;
}

.overlay {
    background-image: url('/Portfolio/assets/deskItems.jpg');
    background-size: cover;
    filter: brightness(0.6);
  }

.borderAroundPage {
    border-style: solid;
    padding-bottom: 100px;
    padding-top: 25px;
}

.bottomPadding {
    padding-bottom: 40px;
}

h1 {
    font-family: "Brush Script MT";
    font-size: 100px;

}